* {
    margin: 0;
    padding: 0;
}

.bg-nav {
    background-color: #ffffff;
}

body {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

label {
    color: #0D1440;
}

h1,
h2,
h3 {
    font-weight: 900;
}

.row {
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
    margin: 2rem 0 2rem 0;
    border-color: #009AC5;
}

b {
    color: #009AC5;
}

.titulos {
    display: flex;
    justify-content: center;
    color: #009AC5;
}


/* Utilidades */

.btn-color {
    background-color: #009A37;
    color: #ffffff;
    border: none;
    font-size: 1.3rem;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    height: 3.5rem;
}

.btn-color:hover {
    cursor: pointer;
    background-color: #08b444;
    color: #ffffff;
}

.bg-dark {
    background-color: #009A37 !important;
}

.table-over {
    width: 100%;
    height: 50vh;
    overflow: scroll;
    margin: 3rem 0 5rem 0;
}


/* Index */

.video_idx {
    width: 100%;
    display: flex;
    justify-content: center;
}

.video {
    width: 56rem;
    height: 31.5rem;
}

@media only screen and (max-width: 800px) {
    .video {
        width: 49rem;
        height: 24.5rem;
    }
}

@media only screen and (max-width: 635px) {
    .video {
        width: 42rem;
        height: 17.5rem;
    }
}

@media only screen and (max-width: 575px) {
    .video {
        width: 35rem;
        height: 10.5rem;
    }
}

@media only screen and (max-width: 370px) {
    .video {
        width: 28rem;
        height: 10.5rem;
    }
}


/* QUE ES BEWOKI */

.titulo {
    margin-top: 3rem;
    color: #009AC5;
}


/* Tarjetas Index */

.img_valores {
    width: 90%;
}

.img_tar {
    display: flex;
    justify-content: center;
}

.txt_tar {
    display: flex;
    text-align: center;
}


/* Header */

.btn-invi {
    background-color: rgba(0, 0, 0, 0);
    color: #E13C2D;
    border: none;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}


/* .dropdown-item:focus,
.dropdown-item:hover {
    color: #F4AE0E !important;
} */


/* .btn-invi.active,
.btn-invi:hover {
    color: #F4AE0E !important;
} */

nav img {
    width: 40%;
}

@media only screen and (max-width: 1092px) {
    nav img {
        width: 90%;
    }
}

@media only screen and (max-width: 575px) {
    nav img {
        width: 40%;
    }
}

nav a {
    color: #E13C2D !important;
}

nav a:hover {
    color: #F4AE0E !important;
}


/* #dropdownMenuButton {
    background-color: #582b2b !important;
    border: none !important;
} */

.dropdown-item:hover {
    background-color: #929292 !important;
    color: #ffffff;
}


/* Footer */

.footer {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f3f3f3;
    background-color: #ffffff;
    color: #ffffff;
    padding: 2rem;
}

.redes i {
    color: #4b4b4b;
    font-size: 1.5rem;
}

.redes i:hover {
    color: #009AC5;
    font-size: 1.8rem;
}

.contach {
    color: #4b4b4b;
    text-decoration: none;
}

.contach:hover {
    color: #009AC5;
    text-decoration: none;
}

.copy {
    color: #4b4b4b;
}


/* .copy:hover {
    text-shadow: 2px 2px 4px #000000;
} */


/* Vista - Conocenos */

.conocenos img {
    width: 70%;
}

.conocenos h3 {
    color: #F4AE0E;
}

@media only screen and (max-width: 991px) {
    .conocenos img {
        width: 120%;
    }
}

@media only screen and (max-width: 767px) {
    .conocenos img {
        width: 70%;
        margin: 1rem 0 1rem 0;
    }
}


/* Material Turistico */


/* Card - Informate */

.contenedor {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    border: none;
}

.bg-info {
    height: 20rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .bg-info {
        height: 15rem;
    }
}

@media only screen and (max-width: 575px) {
    .bg-info {
        height: 10rem;
    }
}

.card-title {
    color: #ffffff;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 2px #00000085;
}

@media only screen and (max-width: 800px) {
    .card-title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 635px) {
    .card-title {
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 575px) {
    .card-title {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 370px) {
    .card-title {
        font-size: 1rem;
    }
}

.pl {
    margin-top: 1rem;
    display: flex;
}

.pl ul:hover {
    color: #F4AE0E;
}

.pl-txt {
    font-size: 2rem;
    color: #009AC5;
    text-transform: uppercase;
}

#pl-img {
    height: 1.8rem;
    fill: #009AC5;
}

@media only screen and (max-width: 800px) {
    .pl-txt {
        font-size: 1.6rem;
    }
    #pl-img {
        height: 1.6rem;
    }
}

@media only screen and (max-width: 575px) {
    .pl-txt {
        font-size: 1.3rem;
    }
    #pl-img {
        height: 1.3rem;
    }
}

@media only screen and (max-width: 370px) {
    .pl-txt {
        font-size: 0.9rem;
    }
    #pl-img {
        height: 0.9rem;
    }
}


/* Estilos de los formularios de administrador*/

#sidebar-container {
    min-height: 100vh;
    background-color: #009A37;
}

#sidebar-container img {
    margin: 1.5rem 0 1rem 0;
    width: 10rem;
}

#sidebar-container .logo {
    padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
    /* width: 20rem; */
}

.formularios {
    width: 100%;
    margin-top: 2rem;
}

.conten-prin {
    width: 100%;
    margin: 0;
    align-items: center;
    align-content: center;
}

@media only screen and (max-width: 800px) {
    .navbar-enlaces {
        /* display: none !important; */
        font-size: 0.6rem;
        margin-top: 0.6rem !important;
    }
}

@media only screen and (max-width: 683px) {
    .navbar-enlaces {
        display: none !important;
    }
}


/* Formulario Contactenos */

.bg-contact {
    background-image: url(../img/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.logo {
    margin-bottom: 3rem;
}

.form-veh {
    background-color: #ffffff;
    min-height: 100vh;
    padding: 2rem;
}

.logo img {
    width: 60%;
}