* {
    margin: 0;
    padding: 0;
}

.bg-nav {
    background-color: #ffffff;
}

body {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

label {
    color: #0D1440;
}

h1,
h2,
h3 {
    font-weight: 900;
}


/* Utilidades */

.btn-color {
    background-color: #009A37;
    color: #ffffff;
    border: none;
    font-size: 1.3rem;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    height: 3.5rem;
}

.btn-color:hover {
    cursor: pointer;
    background-color: #08b444;
    color: #ffffff;
}


/* Header */

.btn-invi {
    background-color: rgba(0, 0, 0, 0);
    color: #E13C2D;
    border: none;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}

.btn-invi:active,
.btn-invi:hover {
    color: #F4AE0E;
}

nav img {
    width: 40%;
}

@media only screen and (max-width: 1092px) {
    nav img {
        width: 90%;
    }
}

@media only screen and (max-width: 575px) {
    nav img {
        width: 40%;
    }
}

nav a {
    color: #E13C2D !important;
}

nav a:hover {
    color: #F4AE0E !important;
}


/* Vista - Conocenos */

.conocenos img {
    width: 70%;
}

.conocenos h3 {
    color: #F4AE0E;
}

@media only screen and (max-width: 991px) {
    .conocenos img {
        width: 120%;
    }
}

@media only screen and (max-width: 767px) {
    .conocenos img {
        width: 70%;
        margin: 1rem 0 1rem 0;
    }
}


/* Card - Informate */

.contenedor {
    margin: 0;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.c-img {
    height: 35rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .c-img {
        height: 28rem;
    }
}

@media only screen and (max-width: 575px) {
    .c-img {
        height: 20rem;
    }
}

.title {
    color: #ffffff;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 2px #00000085;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 635px) {
    .title {
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 575px) {
    .title {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 370px) {
    .title {
        font-size: 1rem;
    }
}

.pl {
    margin-top: 1rem;
    display: flex;
}

.pl ul:hover {
    color: #F4AE0E;
}

.pl-txt {
    font-size: 2rem;
    color: #009AC5;
    text-transform: uppercase;
}

#pl-img {
    height: 1.8rem;
    fill: #009AC5;
}

@media only screen and (max-width: 800px) {
    .pl-txt {
        font-size: 1.6rem;
    }
    #pl-img {
        height: 1.6rem;
    }
}

@media only screen and (max-width: 575px) {
    .pl-txt {
        font-size: 1.3rem;
    }
    #pl-img {
        height: 1.3rem;
    }
}

@media only screen and (max-width: 370px) {
    .pl-txt {
        font-size: 0.9rem;
    }
    #pl-img {
        height: 0.9rem;
    }
}


/* Estilos de los formularios de administrador*/

#sidebar-container {
    min-height: 100vh;
    background-color: #009A37;
}

#sidebar-container img {
    margin: 1.5rem 0 1rem 0;
    width: 10rem;
}

#sidebar-container .logo {
    padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
    /* width: 20rem; */
}

.formularios {
    width: 100%;
    margin-top: 2rem;
}

.conten-prin {
    width: 100%;
    margin: 0;
    align-items: center;
    align-content: center;
}

@media only screen and (max-width: 800px) {
    .navbar-enlaces {
        display: none !important;
    }
}