/*QUE ES BEWOKI*/
.texto:not(b){
    text-align: justify;
}

/*TARJETAS DE ABAJO*/
.vinculo{
    border-radius: 1rem;
    height: 22rem;
}
.vinculo:hover{
    background-color: lightcyan;
    width: 110%;
}