/* #sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
} */